<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.orienti.android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/global_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orienti"
        tools:ignore="LockedOrientationActivity"
        android:name=".app.ApplicationClass">
        <activity
            android:name=".ui.screens.trainer.training_detail.TrainingDetailActivity"
            android:theme="@style/Theme.Orienti"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.trainer.scan_run.ScanRunActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/menu_scan_run"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.runner.scan_control.ScanControlPointActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/menu_scan_control_point"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.runner.start_run.NewRunActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/menu_new_run"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.common.select_mode.SelectModeActivity"
            android:theme="@style/Theme.Orienti.NoActionBar"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.trainer.create_training.CreateTrainingActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/global_new_training"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.trainer.create_track.CreateTrackActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/global_new_track"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity
            android:name=".ui.screens.trainer.create_control_point.CreateControlPointActivity"
            android:theme="@style/Theme.Orienti"
            android:label="@string/global_new_control_point"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity
            android:name=".ui.screens.common.set_name.SetNameActivity"
            android:theme="@style/Theme.Orienti"
            android:screenOrientation="portrait"
            android:label="@string/activity_set_name_label"
            android:exported="true"/>
        <activity
            android:name="app.orienti.android.ui.screens.runner.main.RunnerMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/activity_main_runner_label" />
        <activity
            android:name=".ui.screens.trainer.main.TrainerMainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/activity_main_trainer_label">
        </activity>
        <activity
            android:name=".ui.screens.common.launcher.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Orienti.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>